@include tablet() {
    .recipe-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 720px;
        height: 200px;
        padding: 0 15px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .25);


        .thumbnail {
            img {
                width: 150px;
                height: 150px;
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 540px;
            height: 160px;
            padding: 15px;
            // border: 1px dashed hotpink;
            
            h3 {
                font-size: 24px;
                font-weight: 600;
                overflow: hidden;
                white-space: normal;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            
            .cook-info {
                display: flex;
                font-size: 18px;
                // border: 1px dashed red;
                li {
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    span {
                        margin-left: 8px;
                    }
                }
            }

            .tags {
                font-size: 16px;
                letter-spacing: 1.2px;
                color: rgba(0, 0, 0, .7);
                // border: 1px dashed green;
                overflow: hidden;
                white-space: normal;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                word-wrap: break-word;
                line-height: 1.4;
            }
        }
    }
}