.page-myrecipes {
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
        height: 90vh;
        margin: 0 auto;
        background-color: #fff;
        
        p {
            font-size: 28px;
            margin: 40px;
            // text-align: center;
            &:first-child{
                font-size: 40px;
                font-weight: 600;
                color: rgba(0, 0, 0, .35);
            }
        }
    }
}