@include desktop() {

    .page-recipes {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .search {
            display: flex;
            justify-content: center;
            width: 1160px;
            height: 50px;
            padding: 0 25px;
            background-color: #fff;
            border-radius: 25px;
            border: 2px solid rgba(0, 0, 0, .3);
            
            input {
                flex: 1;
                height: 46px;
                font-size: 20px;
                border: none;
                &:focus {
                    outline: none;
                }
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 46px;
                font-size: 30px;
                color: rgba(0, 0, 0, .7);
                outline: none;
                border: none;
                background-color: #fff;
                cursor: pointer;
                &:hover {
                    color: rgba(0, 0, 0, 1.0);
                }
            }
        }

        .contents {
            display: flex;
            justify-content: space-between;
            width: 1160px;
            margin-top: 30px;

            .recipe-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 850px;
                height: 80vh;
                padding-top: 10px;
                overflow: auto;
                background-color: rgba(255, 255, 255, 0.7);

                .empty-sign {
                    margin-top: 240px;
                    font-size: 40px;
                    color: rgba(0, 0, 0, .5);
                }

                .recipe-item {
                    margin-bottom: 10px;
                }
                // Scroll bar
                &::-webkit-scrollbar {
                    width: 6px;
                }
                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 3px;
                    background-color: rgba(0, 0, 0, .2);
                }
                &::-webkit-scrollbar-button {
                    width: 0;
                    height: 0;
                }
            }

            .filter {
                width: 300px;
                height: 80vh;
                padding: 20px;
                overflow: auto;
                color: #42493A;
                background-color: rgba(255, 255, 255, 0.7);
                h2 {
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 40px;
                }
                .filter-toggle {
                    display: none;
                }
                // Scroll bar
                &::-webkit-scrollbar {
                    width: 6px;
                }
                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 3px;
                    background-color: rgba(0, 0, 0, .2);
                }
                &::-webkit-scrollbar-button {
                    width: 0;
                    height: 0;
                }
                .filter-list {
                    .filter-item {
                        margin-bottom: 30px;
                        h3 {
                            font-size: 18px;
                            font-weight: 500;
                            margin-bottom: 10px;
                        }
                        select {
                            height: 24px;
                            padding: 0 10px;
                            color: rgba(0, 0, 0, .8);
                            border-radius: 12px;
                            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .08);
                            border: none;
                            &:focus {
                                outline: none;
                            }
                        }
                        & > div {
                            margin-bottom: 10px;
                            label {
                                font-weight: 500;
                                margin: 0 10px;
                            }
                            input {
                                height: 24px;
                                padding: 0 10px;
                                border-radius: 12px;
                                color: rgba(0, 0, 0, .8);
                                box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .08);
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}