@include desktop() {

    .page-recipes {
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 1px solid red;
        
        .search {
            display: flex;
            justify-content: center;
            // width: 800px;
            width: 1160px;
            height: 50px;
            padding: 0 25px;
            background-color: #fff;
            border-radius: 25px;
            border: 2px solid rgba(0, 0, 0, .3);
            
            input {
                flex: 1;
                height: 46px;
                font-size: 20px;
                border: none;
                &:focus {
                    outline: none;
                }
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 46px;
                font-size: 30px;
                color: rgba(0, 0, 0, .7);
                outline: none;
                border: none;
                background-color: #fff;
                cursor: pointer;
                &:hover {
                    color: rgba(0, 0, 0, 1.0);
                }
            }
        }

        .contents {
            display: flex;
            justify-content: space-between;
            width: 1160px;
            margin-top: 30px;
            // width: 800px;
            // border: 1px solid orange;

            .recipe-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 850px;
                // width: 500px;
                height: 80vh;
                padding-top: 10px;
                overflow: auto;
                // overflow-y: scroll;
                background-color: #fff;

                .recipe-item {
                    margin-bottom: 10px;
                    // border: 1px dashed green;
                }
                // Scroll bar
                &::-webkit-scrollbar {
                    width: 6px;
                }
                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 3px;
                    background-color: rgba(0, 0, 0, .2);
                }
                &::-webkit-scrollbar-button {
                    width: 0;
                    height: 0;
                }
            }

            .filter {
                width: 300px;
                // width: 290px;
                height: 80vh;
                padding: 10px;
                overflow: auto;
                color: #42493A;
                background-color: #fff;
                h2 {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 24px;
                }
                // Scroll bar
                &::-webkit-scrollbar {
                    width: 6px;
                }
                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 3px;
                    background-color: rgba(0, 0, 0, .2);
                }
                &::-webkit-scrollbar-button {
                    width: 0;
                    height: 0;
                }
                .filter-list {
                    .filter-item {
                        margin-bottom: 20px;
                        h3 {
                            font-size: 18px;
                            font-weight: 500;
                            margin-bottom: 5px;
                        }
                        .tag-list {
                            display: flex;
                            flex-wrap: wrap;
                            .tag-item {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 24px;
                                padding: 2px 8px;
                                margin: 0 4px 6px 0;
                                border-radius: 12px;
                                color: #5A5333;
                                background-color: rgba($color: #9999CC, $alpha: 0.3);
                                cursor: pointer;
                                // border: 1px solid red;
                                
                                &.active {
                                    color: #fff;
                                    background-color: #9999CC;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}