@include mobile() {
    .App {
        // position: relative;
        display: flex;
        flex-direction: column;
        font-family: 'Nanum Gothic Coding', monospace;
        
        main {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            // bottom: 50px;
            // bottom: 0;
            // height: calc(100vh-50px);
            order: -1;
            background: #F6F0E4;
        }
        
        section {
            min-height: 90vh;
            margin: 20px auto;
        }
    }
}