@include mobile() {

    .page-recipes {
        display: flex;
        flex-direction: column;
        align-items: center;

        .search {
            display: flex;
            justify-content: center;
            // width: 280px;
            width: 300px;
            height: 30px;
            padding: 0 15px;
            margin-bottom: 20px;
            border-radius: 15px;
            border: 1px solid rgba(0, 0, 0, .3);
            background-color: #fff;
            
            input {
                flex: 1;
                height: 28px;
                font-size: 14px;
                border: none;
                &:focus {
                    outline: none;
                }
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 28px;
                font-size: 20px;
                color: rgba(0, 0, 0, .7);
                outline: none;
                border: none;
                background-color: #fff;
                cursor: pointer;
                &:hover {
                    color: rgba(0, 0, 0, 1.0);
                }
            }
        }
        
        .recipe-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            padding: 5px 0 0;
            // overflow: auto;
            // border: 1px solid orange;
            
            .recipe-item {
                margin-bottom: 5px;
                // border: 1px dashed green;
            }
        }
    }
}