@include desktop() {
    nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 120px;
        height: 100vh;
        align-items: center;
        background: #fff;
        box-shadow: 4px 4px 16px 2px rgba(0, 0, 0, 0.25);
        z-index: 1;
        
        .nav-logo {
            width: 50px;
            height: 50px;
            margin: 35px auto 100px;
            filter: invert(75%) sepia(68%) saturate(5392%) hue-rotate(331deg) brightness(100%) contrast(103%);
            // filter: invert(29%) sepia(11%) saturate(2231%) hue-rotate(14deg) brightness(97%) contrast(87%);
            // filter: invert(63%) sepia(44%) saturate(554%) hue-rotate(48deg) brightness(89%) contrast(87%);
            // filter: invert(14%) sepia(12%) saturate(2158%) hue-rotate(71deg) brightness(99%) contrast(92%);
            // border: 1px solid red;
        }
        
        ul {
            li {
                
                .menu-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 120px;
                    height: 70px;
                    cursor: pointer;

                    .menu-icon {
                        width: 40px;
                        height: 40px;
                        filter: invert(14%) sepia(12%) saturate(2158%) hue-rotate(71deg) brightness(99%) contrast(92%);
                    }
                    .menu-icon.home,
                    .menu-icon.user {
                        width: 35px;
                        height: 35px;
                    }
                    
                    &.active {
                        background-color: #76AC41;
                        .menu-icon{
                            filter: invert(100%) sepia(78%) saturate(2%) hue-rotate(21deg) brightness(111%) contrast(100%);
                            // -webkit-filter: invert(100%) sepia(78%) saturate(2%) hue-rotate(21deg) brightness(111%) contrast(100%);
                        }
                    }
                }
            }
        }
    }
}