@include tablet() {
    .App {
        position: relative;
        display: flex;
        font-family: 'Nanum Gothic Coding', monospace;
        
        main {
            position: absolute;
            top: 0;
            right: 0;
            left: 120px;
            background: #fff;
        }
        
        section {
            margin: 50px auto;
            // margin-top: 50px;
        }
    }
}