@include tablet() {
    .page-user {

        display: flex;
        justify-content: center;
        align-self: center;

        .login-first {
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 600px;
                height: 300px;
                font-size: 36px;
                color: #477F8F;
                background-color: #fff;
            }
        }

        .user-container {
            width: 720px;
            
            .user-inner {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 40px;
                margin-top: 16px;
                background-color: #fff;
                &:first-child {
                    margin-top: 0px;
                }
                table {
                    width: 100%;
                    thead {
                        border-bottom: 1px solid #c59874;
                        th {
                            padding: 16px 0;
                            font-size: 18px;
                            font-weight: 600;
                            color: rgba(#42493A, .7);
                            td {
                                padding: 0;
                            }
                        }
                    }
                    tbody {
                        tr {
                            border-bottom: 1px dashed #F2C466;
                            td {
                                padding: 10px;
                                font-size: 16px;
                                text-align: center;
                                &:first-child{
                                    width: 70%;
                                }
                                &:last-child {
                                    width: 30%;
                                    color: rgba(0, 0, 0, .6);
                                }
                            }
                            &:last-child {
                                border: none;
                            }
                        }
                    }
                }
            }

            .user-info {
                height: 240px;
                .profile-img {
                    width: 180px;
                    height: 180px;
                    border-radius: 90px;
                    background-color: rgba(0, 0, 0, .18);
                }
                table {
                    width: 400px;
                    tr {
                        border-bottom: 1px dashed #F2C466;
                        &:last-child {
                            border: none;
                        }
                        td {
                            padding: 10px 20px;
                            font-size: 16px;
                            text-align: center;
                        }
                    }
                }
            }

            .user-saveRecipe {
                min-height: 240px;
            }
            
            .user-myRecipe {
                min-height: 360px;
                
            }

        }

    }
}